<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evento App</title>
    <link href="../static/css/StyleIndex.css" th:href="@{/css/StyleIndex.css}" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div>
            <h1>Evento App</h1>
        </div>

        <div class="header-menu">
            <div class="header-menu-item">
                <a href="/">Pagina principal</a>
            </div>
            <div class="header-menu-item">
                <a href="/cadastrarEvento">Cadastrar evento</a>
            </div>
        </div>
    </header>

    <main>
        <section>
            <table class="eventos-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Local</th>
                        <th>Data</th>
                        <th>Horário inicio</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="evento : ${eventos}">
                        <td th:text="${evento.nome}"></td>
                        <td th:text="${evento.local}"></td>
                        <td th:text="${evento.data}"></td>
                        <td th:text="${evento.horarioInicio}"></td>
                    </tr>
                </tbody>

            </table>
        </section>
    </main>
    

</body>

</html>